.flex {
	display: flex;
	gap: var(--gap, 4rem);
}
.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
  }

.mobile-nav-toggle{
    display: none;
}

.primary-navigation {
	list-style: none;
	padding: 0;
	margin: 0;

	background: hsl(0 0% 0% / 0.8);
}

@supports (backdrop-filter: blur(1rem)) {
	.primary-navigation {
		background: hsl(0 0% 100% / 0.25);
		backdrop-filter: blur(1rem);
	}
}

@media (max-width: 1000px) {
	.primary-navigation {
		--gap: 3rem;

		position: fixed;
        z-index: 1000;
		inset: 0 0 0 50%;

		flex-direction: column;
		padding: min(25vh, 8rem) 2rem;

        transform: translateX(100%);
        transition: transform 350ms ease-out;
	}

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        background: url("../../../public/assets/Hamburger_icon.svg.png") center/cover no-repeat;
        background-color: pink;
        width: 2rem;
        border: 0;
        aspect-ratio: 1;
        top: 2rem;
        right: 2rem;
    }

    /* can add an x -icon here for when the nav bar is open. */
     .mobile-nav-toggle[aria-expanded="true"]{
        background: url("../../../public/assets/Hamburger_icon.svg.png") center/cover no-repeat;
        background-color: red;
    }
}
